.paleta {
  color: #6b7b40, #859340, #c7d955, #f2f0d4, #6b4a40;
}

.sectionSlider {
  display: flex;
  position: relative;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  padding: 10px;
  top: 50px;
  background-color: #f0f0f0;

  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.5),
    10px 10px 20px rgba(0, 0, 0, 0.2);
}

.slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slide1 {
  background-image: url(../img/slide1.jpg);
}
.pSlide {
  position: absolute;
  top: 150px;
  left: 200px;
  right: 400px;
}
.imgSlide {
  width: 1200px;
  height: 100%;
  opacity: 0.5;
}
